{
    admin off
    auto_https off
}

(backend) {
    reverse_proxy {$BACKEND_UPSTREAM:backend:3000}
}

(ansible) {
    reverse_proxy {$ANSIBLE_UPSTREAM:ansible:8000}
}

:80 {
    encode zstd gzip

    handle /rpc/* {
        import backend
    }
    handle /api/* {
        import backend
    }
    handle /scalar* {
        import backend
    }
    handle /openapi.json {
        import backend
    }

    handle /ansible/* {
        import ansible
    }

    handle {
        reverse_proxy 127.0.0.1:4321
    }
}