.git
.gitignore
.dockerignore

.venv/
.ruff_cache/
__pycache__/
**/__pycache__/
**/*.py[cod]
**/*.egg-info/

playbook/

node_modules
package.json
package-lock.json
bun.lock
bunfig.toml
turbo.json
biome.json

README.md
.python-version
.env
.env.*
.envrc

*.log
.idea
.vscode
